@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .shadow-sketch {
    box-shadow: 
      4px 4px 0px 0px #000,
      4px 4px 0px 1px #000;
  }
  
  .shadow-sketch-sm {
    box-shadow: 
      2px 2px 0px 0px #000,
      2px 2px 0px 1px #000;
  }
  
  .shadow-sketch-hover {
    box-shadow: 
      6px 6px 0px 0px #000,
      6px 6px 0px 1px #000;
  }
}
