@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .shadow-sketch {
    box-shadow: 
      4px 4px 0px 0px #000,
      4px 4px 0px 1px #000;
  }
  
  .shadow-sketch-sm {
    box-shadow: 
      2px 2px 0px 0px #000,
      2px 2px 0px 1px #000;
  }
  
  .shadow-sketch-hover {
    box-shadow: 
      6px 6px 0px 0px #000,
      6px 6px 0px 1px #000;
  }
}


/* .shadow-sketch {
    box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
}

.shadow-sketch-lg {
    box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}

.shadow-sketch-xl {
    box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
}

html {
    scroll-behavior: smooth;
} */